{
  "swagger": "2.0",
  "info": {
    "title": "LinkedIn Sales Nav",
    "description": "",
    "version": "1.0"
  },
  "host": "api.linkedin.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/salesAnalyticsExportJobs": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "exportSeatData",
        "operationId": "ExportSeatData",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Restli-Protocol-Version:",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type:",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.linkedin.com/oauth/v2/authorization",
      "tokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
      "scopes": {
        "r_sales_nav_analytics": "r_sales_nav_analytics"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "r_sales_nav_analytics"
      ]
    }
  ],
  "tags": []
}