{
  "swagger": "2.0",
  "info": {
    "title": "Zoom",
    "description": "",
    "version": "1.0"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/users/{userId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get User",
        "description": "Get User",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "login_type",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/users/{userId}/meetings": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a Meeting",
        "description": "Create a Meeting",
        "operationId": "CreateAMeeting",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://zoom.us/oauth/authorize",
      "tokenUrl": "https://zoom.us/oauth/token",
      "scopes": {
        "meeting:write:admin meeting:write user:read:admin user:read": "meeting:write:admin meeting:write user:read:admin user:read"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "meeting:write:admin meeting:write user:read:admin user:read"
      ]
    }
  ],
  "tags": []
}